* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    direction: rtl;
  }

  :root {
    --primary-color: #F5C45E;
    --secondary-color: #164273;
    --transition-speed: 0.3s;
  }

  body {
    font-family: 'Cairo', sans-serif;
    background-color: #fff;
  }

  .container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 20px;
    flex-wrap: wrap;
  }

  .img-people {
    width: 40%;
    height: 70vh;
    background-color: #F5C45E;
    border-radius: 10px;
    box-shadow: 0 0 25px rgba(0,0,0,0.2);
    overflow: hidden;
    opacity: 0;
    transform: translateX(50px);
    animation: fadeInRight 1s ease forwards;
  }

  .img-people img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
  }

  .content {
    width: 50%;
      height: 70vh;
    padding: 0 30px;
    animation: fadeInUp 1s ease forwards;
  }

  .content h1,
  .content p,
  .goals-list li {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 1s ease forwards;
  }

  .content h1 {
    font-size: 20px;
    color: var(--primary-color);
    margin-bottom: 20px;
    animation-delay: 0.1s;
  }

  .content h1 span {
    color: var(--secondary-color);
    font-weight: bold;
    font-size: 25px;
  }

  .content p {
    font-size: 16px;
    color: #000;
    line-height: 1.6;
    margin-bottom: 20px;
    animation-delay: 0.3s;
  }

  .highlight {
    color: var(--secondary-color);
    font-weight: bold;
    font-size: 18px;
  }

  .goals-list {
    list-style: none;
    padding: 0;
    margin-bottom: 20px;
  }

  .goals-list li {
font-size: 15px;
color: #000;
line-height: 1.8;
display: flex;
align-items: center;
gap: 10px;
animation-delay: 0.5s;
}
.goals-list li .icon {
flex-shrink: 0;
white-space: nowrap;
}

 
  .icon {
    color: var(--primary-color);
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    line-height: 1;
  }

  /* Animations */
  @keyframes fadeInUp {
    0% {
      transform: translateY(20px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  @keyframes fadeInRight {
    0% {
      transform: translateX(50px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

  /* Responsive */
  @media (max-width: 768px) {
    .container {
      flex-direction: column-reverse;
      align-items: stretch;
    }

    .img-people,
    .content {
      width: 100%;
      height: auto;
      margin: 10px 0;
    }

    .content h1 {
      font-size: 22px;
      text-align: center;
    }

    .content p {
      font-size: 14px;
      text-align: justify;
    }

    .goals-list li {
font-size: 11px;
color: #000;
line-height: 1.8;
display: flex;
align-items: center;
gap: 10px;
animation-delay: 0.5s;
flex-wrap: nowrap;
white-space: nowrap;
}

    .img-people {
      height: 300px;
      width: 85%;
      margin: auto;
    }
  }


  /*stats-section*/

  .stats-section {
text-align: center;
padding: 50px 20px;
background-color: #f5f3f3;


}

.stats-section h2 {
font-size: 24px;
color: var(--secondary-color);
margin-bottom: 40px;

}

.stats {
display: flex;
justify-content: center;
flex-wrap: wrap;
gap: 60px;
}

.stat-item {
flex: 1 1 180px; 
max-width: 200px;
width: 50px;
display: flex;
flex-direction: column;
align-items: center;

}

.stat-icon {
width:100px;
height: 100px;
margin-bottom: 15px;
}

.stat-number {
font-size: 36px;
color: var(--primary-color);
font-weight: bold;
}

.stat-item p {
margin-top: 8px;
font-size: 20px;
color:var(--secondary-color);
text-align: center;
font-weight: bold;
}

.stat-item.green .stat-number,
.stat-item.green p {
color: #4cd137;
}

.stat-item.red .stat-number,
.stat-item.red p {
color: #c23616;
}

.stat-item.blue .stat-number,
.stat-item.blue p {
color: #00a8ff;
}

.stat-item.purple .stat-number,
.stat-item.purple p {
color: #8e44ad;
}


@media (max-width: 768px) {
.stats {
  flex-direction: column;
  align-items: center;
  gap: 0; 
}

.stat-item {
  max-width: 100%;
  margin-bottom: 30px;
}

.stat-number {
  font-size: 28px;
}

.stat-icon {
  width: 40px;
  height: 40px;
}
}


